{{#let
  (ensure-safe-component (bs-default @titleComponent (component "bs-modal/header/title")))
  (component (ensure-safe-component (bs-default @closeComponent (component "bs-modal/header/close"))) onClick=@onClose)
as |title Close|
}}
  <div class="modal-header" ...attributes>
    {{#if (has-block-params)}}
      {{yield
        (hash
          title=title
          close=Close
        )
      }}
    {{else}}
      {{#if (has-block)}}
        {{yield}}
      {{else}}
		  {{#title}}
			  {{@title}}
		  {{/title}}
      {{/if}}
      {{#if (bs-default @closeButton true)}}
        <Close/>
      {{/if}}
    {{/if}}
  </div>
{{/let}}